.padreDiv{
    display: flex;
    justify-content: center;
}

.divContenedor{
    display: flex;
    height: 30%;
    width: 70%;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    margin: 25px;
    border-radius: 15px;
    backdrop-filter: brightness(0.30)
}

.divContenedor img {
    border-radius: 15px;
    width: 45%;
    height: 38%; 
    margin: 30px 10px 20px 10px;
    padding: 0.625rem;
}

.divContenedor ul li{
    list-style: none;
}


.divTitle{
    display: flex;
    justify-content: center;
    /* word-wrap: break-word; */
    height: 50px;
    width: 550px;
}

.divTitle h1 {
    font-size: 2.2rem;
}

.divSuper {
   margin-top: 25px;
   width: 320px;
}

.divUl{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.divRecargado{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.divAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;    
}

.divAbout h1{
    margin: 3px;
}

.divAbout p{
    text-align: left;
    margin: 3px;
}

