.padreDiv{
    display: flex;
    justify-content: center;
}

.divContenedor{
    display: flex;
    height: 30%;
    width: 70%;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin: 25px;
    border-radius: 15px;
    backdrop-filter: brightness(0.30)
}

.divContenedor img {
    border-radius: 15px;
    width: 25rem;
    height: 15rem; 
    margin: 30px 10px 20px 10px;
    padding: 0.625rem;
}

.divContenedor ul li{
    list-style: none;
}


.divTitle{
    display: flex;
    justify-content: center;
    /* word-wrap: break-word; */
    height: 50px;
    width: 100rem;
}

.divTitle h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    font-family:'Bebas Neue', cursive ;
    letter-spacing: 2.9px;
    margin-top: 18px;
  
}

.divSuper {
   margin-top: 25px;
   width: 320px;
}

.divUl{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    
}

.divRecargado{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;

}

.divAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;    
}

.divAbout h1{
    margin: 3px;
}

.divAbout p{
    text-align: left;
    margin: 3px;
}

@media only screen and (max-width: 650px) {
    .divTitle h1 {
        font-size: 2.5rem;
         word-wrap: break-word;
         text-align: center;  
    }
    .divContenedor img {
      margin-top: 4rem;
    }
    .divSuper {
        margin-top: 0px;
    
     }
  }
