@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--body-color);
  color: var(--primary-font-color);
}

:root {
  --body-color: #222831;
  --primary-font-color: #E6DDC6;
}

body{
  background-image: url('./assets/lara.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
  background-attachment: fixed;
  background-position: 25% 25%;
}

