@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;900&family=Oswald:wght@400;500&family=Passion+One&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-color: var(--body-color);
  color: var(--primary-font-color);
}

:root {
  --body-color: #222831;
  --primary-font-color: #e0dede;
}

body {
  background-image: url("./assets/lara.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
  background-attachment: fixed;
  background-position: 25% 25%;
}

p.danger {
  color: red;
  font-size: 15px;
  font-weight: normal;
  margin: 5px;
}

input.danger {
  border: 2px solid red;
}

ul {
  padding-left: 0;
}

input {
  height: 23px;
  width: 230px;
  margin: 3px;
  border-radius: 5px;
  outline: none;
  border: 0;
}
