.divFilters{
    display: flex;
    justify-content: center;
    align-content: center;
}

.divFilters select {
    padding: 4px;
}

.divFilters button {
    background-color: #F6830F;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.cardPadre{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin: 10px;
    justify-content: center;
}

.title{ 
    font-family: 'Bebas Neue', cursive;
    font-size: 4vw;
    letter-spacing: 3.5px;
    margin: 10px;
}


   