.divCard{
    margin: 20px;

};

.genrePadre{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;
    
}

.genrePadre li{
    list-style: none;
}

.imgCard{
    width: 200px;
    height: 100px;
};