.divCard{
    margin: 20px;
    height: 330px;
    border-radius: 1rem;
    padding: 6px;
    backdrop-filter: blur(30px);
};


.genrePadre{
    display: flex;
    justify-content: space-between;
}

.divTitle{
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    width: 290px;
}

.titleCard{
    
    font-family: 'Passion One', cursive;
    font-size: 27px;
    font-weight: normal;
    margin: 8px 4px 0px 4px;
    letter-spacing: 1px;
}


.genrePadre ul{
    margin: 4px;
    padding: 8px;
    height: 57px;
}

.genrePadre li{
    list-style: none;
    font-size: 17px;
}

.imgCard{
    width: 280px;
    height: 190px;
    border-radius: 1rem;
};