.button {
  position: absolute;
  top: 4.0625rem;
  left: 1.25rem;
  cursor: pointer;
}
.button {
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.button {
  margin: 0.3125rem;
  padding: 0.9375rem 1.875rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 0.625rem;
  display: block;
  border: 0rem;
  font-weight: 700;
  box-shadow: 0rem 0rem 0.875rem -0.4375rem #f09819;
}

.button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .button {
    margin: 0.28rem;
    padding: 0.8rem 1.7rem;
  }
}

@media (max-width: 768px) {
    .button {
      margin: 0.28rem;
      padding: 0.8rem 1.7rem;
      top: 4.3rem;
      left: 1.25rem;
    }
  }

  @media (max-width: 576px) {
    .button {
      margin: 0.22rem;
      padding: 0.5rem 1.5rem;
      top: 2.3rem;
      left: 1.25rem;
      font-weight: bold;
    }
  }