.searchPadre{
    display: flex;
    align-items: center;
}

.searchPadre input{
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 25px;
  outline: none;
}

.searchPadre button{
    margin-left: 0;
    height: 27px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #F6830F;
    color: white;
}

@media (max-width: 576px) {
  .searchPadre {
    display: none;
  }
}