.paginado {
    display: flex;
    justify-content: center;
}

.number {
    background-color: #F6830F;
    margin: 20px;
    padding: 0.1rem;
    list-style: none;
    border-radius: 10px;
    cursor: pointer;
    width: 2.9rem;
    height: 2.85rem;
    font-family: 'Passion One', cursive;
    font-size: 25px;
    font-weight: lighter;
    outline: none;
    text-align: center;
    border: none;
    color: var(--primary-font-color)
}

.select{
    background-color: var(--primary-font-color);
    margin: 20px;
    padding: 0.1rem;
    list-style: none;
    border-radius: 10px;
    cursor: pointer;
    width: 2.9rem;
    height: 2.85rem;
    font-family: 'Passion One', cursive;
    font-size: 25px;
    font-weight: lighter;
    outline: none;
    text-align: center;
    border: none;
    color: #F6830F 
}

.number:hover{
    background: gray;
}