@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;900&family=Oswald:wght@400;500&family=Passion+One&display=swap');

.divPadre{
    position: relative;
}

.tittle{
    font-family: 'Bebas Neue', cursive;
    font-size: 4vw;
    letter-spacing: 2.75px;
    margin: 10px;

}

.divForm{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 0.75px
}

.texto{
 border-radius: 5px;
}

.button{
    position: absolute;
    top: 55px;
    left: 20px;
    cursor: pointer;
}

.selects{
    height: 20px;
    width: 22%;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 38%;
    cursor: pointer;
}

/* ---> CARD ELIMINAR PLATAFORMAS <---*/
.cardPlat{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 25px;
    display: inline-block;
}

.btnPla{
    background-color: red;
   
}

/* ---> BOTON DE CREAR VIDEOJUEGO <--- */
.btnCrear{
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%)
}

.btnCrear{
    top: 82%;
    left: 43%;
    position: relative;
    cursor: pointer;
}

.btnCrear{
  
    margin: 5px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
}

.btnCrear{
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btnCrear{
    transform: scale(0.95);
}