
.divPadre{
    position: relative;
}

.tittle{
    font-family: 'Bebas Neue', cursive;
    font-size: 3.75rem;
    letter-spacing: 0.1719rem;
    margin-top: 0.05rem;
    margin-bottom: 0.125rem;

}

.divForm{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 0.0469rem
}

.texto{
 border-radius: 0.3125rem;
}

.button{
    position: absolute;
    top: 3.4375rem;
    left: 1.25rem;
    cursor: pointer;
}

.selects{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.selects select {
    padding: 0.3125rem;
    margin: 0.3125rem;  
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 0;
    /* background: #f0f0f0; */
    color: #3d3d3d;
    font-size: 0.80rem;
    color: rgb(73, 73, 73);
    border: 0.125rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3125rem;
    position: relative;
    transition: all 0.25s ease;
   
}

.divForm input {
    /* padding-bottom: 10px; */
    width: 20rem; 
    height: 1.5rem;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 0;
    color: #3d3d3d;
    color: rgb(73, 73, 73);
    border: 0.125rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3125rem;
}

.divForm div label {
 font-size: 1.02rem;
}
/* ---> CARD ELIMINAR PLATAFORMAS <---*/
.cardPlat{
    display: flex;
    justify-content: center;
    width: 6.25rem;
    height: 1.5625rem;
    display: inline-block;
}

.btnPla{
    background-color: red;
    z-index: -1;
    cursor: pointer;
    border: 0rem;
    text-align: center;
    border-radius: 3.125rem;
}

/* ---> CARD ELIMINAR GENRES <--- */
.cardGenre{
    display: flex;
    justify-content: center;
    width: 6.25rem;
    height: 1.5625rem;
    display: inline-block;
}

.btnGenre{
    background-color: red;
    z-index: -1;
    cursor: pointer;
    border: 0rem;
    text-align: center;
    border-radius: 3.125rem;
}



/* ---> BOTON DE CREAR VIDEOJUEGO <--- */
.btnCrear{
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%)
}

.divButton{
    justify-content: 'center';
    align-items: 'center';
    margin-left: 36.5rem;
}

.btnCrear{
    top: 82%;
    cursor: pointer;
  
}

.btnCrear{
  
    margin: 0.3125rem;
    padding: 0.9375rem 1.875rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 0.625rem;
    display: block;
    border: 0rem;
    font-weight: 700;
    box-shadow: 0rem 0rem 0.875rem -0.4375rem #f09819;
}

.btnCrear{
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btnCrear{
    transform: scale(0.95);
}

@media (max-width: 992px) {
    .divButton {
       margin-left: 24rem;
    }
}

@media (max-width: 768px) {
    .divButton {
       margin-left: 18rem;
    }
    .tittle{
        font-size: 3rem;
    }
    .divForm input{
        width: 19rem; 
        height:1.5rem;
    }
   
}

@media (max-width: 576px) {
    .divPadre h1{
        margin-top: 2rem;  
    }
    .divButton {
        margin-left: 12rem;
     }
}