.divCard{
    margin: 20px;

};

.genrePadre{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;
    
}

.genrePadre li{
    list-style: none;
}

/* .imgCard{
    border: 1px solid cornflowerblue;
}; */