.paginado {
    display: flex;
    justify-content: center;
    
}

.number {
    background-color: cadetblue ;
    margin: 20px;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.number:hover{
    background: gray;
    width: 15px;
    height: 15px;
}