.divNav {
  position: relative;
  top: 0;
  width: 100%;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  backdrop-filter: brightness(0.4);
  /* background-color: #2A2438; */
  /* background-color: hsla(0, 0%, 0%, 0.904); */
}

.divNav .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.divNav .leftSide .divLinks {
  max-height: 80px;
}

.divNav .leftSide .divLinks a {
  font-size: 1rem;
  margin-left: 2rem;
  color: 'white';

}

.is-active {
  color: #F6830F;
  /* border-bottom: solid  #F6830F 0.1rem;  */
  padding-bottom: 0.15rem;
}

.divNav .leftSide button {
  display: none;
  margin-left: 20px;
}

.divNav .leftSide #hidden {
  display: flex;
}

.divNav .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}

@media only screen and (max-width: 850px) {
  .divNav .leftSide .divLinks a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 750px) {
  .divNav .leftSide .divLinks a {
    font-size: 14px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .divNav {
    background-color: #393b3d;
  }
  .divNav .leftSide button {
    display: flex;
  }

  .divNav .leftSide .divLinks {
    display: none;
  }

  .divNav .leftSide #hidden {
    position: absolute;
    left: 0px;
    top: 50px;
    height: 230px;
    max-height: 95px;
    width: 100%;
    backdrop-filter: brightness(0.2);
    background-color: #393b3d;
    /* background-color: rgba(0, 0, 0, 0.555); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .divNav .leftSide #hidden a {
    margin: 1px;
    padding: 5px;
    padding-left: 20px;
    font-size: 15px;
    border-bottom: 0.1px solid var(--primary-font-color);
    width: 100%;
    font-weight: bold;
  }

  .divNav .leftSide #hidden a:hover {
    color: #bbbbbb;
  }
}
