.divNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    backdrop-filter: brightness(0.60);
    padding-right: 2.5rem;
}

.divLinks {
    justify-content: flex-start;
}